<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://contoso-function-app-k6qz5y53gve6s.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d13c4512-6bd5-4a2b-8427-0387caadf730/resourceGroups/hands-on-lab-rishi/providers/Microsoft.Web/sites/contoso-function-app-k6qz5y53gve6s</ResourceId>
    <UserName>$contoso-function-app-k6qz5y53gve6s</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://contoso-function-app-k6qz5y53gve6s.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>