<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d13c4512-6bd5-4a2b-8427-0387caadf730/resourceGroups/hands-on-lab-rishi/providers/Microsoft.Web/sites/contosoadmink6qz5y53gve6s</ResourceId>
    <ResourceGroup>hands-on-lab-rishi</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://contosoadmink6qz5y53gve6s.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4cd8ff66-4d8d-4bef-947f-447a371112f2</ProjectGuid>
    <PublishUrl>https://contosoadmink6qz5y53gve6s.scm.azurewebsites.net/</PublishUrl>
    <UserName>$contosoadmink6qz5y53gve6s</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>